target/
**/*.rs.bk
**/*~
AppImage*
.packaging/
.DS_Store
/__pycache__
/recordings
/AppDir
img/logo.jpeg
linuxdeploy-x86_64.AppImage
build_appimage.sh
appimagetool-x86_64.AppImage
/squashfs-root
Nova Replay.code-workspace
GEMINI.md
/logs
.log
